* {
  box-sizing: border-box;
}

body {
  background-image: url(../cssMemSlider/assets/images/hearts.jpg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;  
  position: relative;
  height: calc(100% - 80px);
  width: 90vw;
  border-radius: 10px;
  background-color: pink;
}

.slider__images {
  overflow: hidden;
  position: relative;
  height: inherit;
  width: inherit; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slides {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.slider__img_1 {
  background-image: url(../cssMemSlider/assets/images/1.png);
}

.slider__img_2 {
  background-image: url(../cssMemSlider/assets/images/2.png);
}

.slider__img_3 {
  background-image: url(../cssMemSlider/assets/images/3.png);
}

.slider__img_4 {
  background-image: url(../cssMemSlider/assets/images/4.png);
}

#slide_1:checked~.slider__images>.slider__img_1,
#slide_2:checked~.slider__images>.slider__img_2,
#slide_3:checked~.slider__images>.slider__img_3,
#slide_4:checked~.slider__images>.slider__img_4 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

#slide_1:checked~.controls label:nth-of-type(1),
#slide_2:checked~.controls label:nth-of-type(2),
#slide_3:checked~.controls label:nth-of-type(3),
#slide_4:checked~.controls label:nth-of-type(4) {
  background: brown;
}

.slider__wrapper>input {
  display: none;
}

.slider__wrapper .controls {
  display: flex;
}

.slider__wrapper label {
  cursor: pointer;
  display: inline-block;
  margin: 25px;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.slider__wrapper label:hover {
  background: coral;
}

.slider__wrapper label:hover::before {
  cursor: pointer;
  content: '';
  position: absolute;
  display: block;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
}

.slider__wrapper label:after {
  border: 2px solid red;
  content: " ";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

/* -------- Caption -------- */
a {
  text-decoration: none;
  color: #111b47;
}

a:hover {
  border-bottom: 1px dashed #ED971F;
  color: #ED971F;
}

/**** slider captions ****/

#slider__captions,
ul {
  margin: 0;
  padding: 0;
  height: 58px;

  vertical-align: middle;
}

#slider__captions {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 200px;
}

#slider__captions li {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 196px;
  display: inline-block;
  transition: left 0.5s linear;
}

#slider__captions ul {
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  background-color: yellow;
}

/*** Content ***/

.container__caption {
  margin: 0 auto;
  padding-left: 5px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 58px;
  border-bottom: 1px solid #ccc;
}

.container__caption h2 {
  margin: 0;
  padding: 0;
  color: #0A7FAD;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

#slide_1:checked~#slider__captions li {
  left: 0px;
  opacity: 1;
}

#slide_2:checked~#slider__captions li {
  left: -200px;
  opacity: 1;
}

#slide_3:checked~#slider__captions li {
  left: -400px;
  opacity: 1;
}

#slide_4:checked~#slider__captions li {
  left: -600px;
  opacity: 1;
}

@media (max-width: 768px) {
  .slider__wrapper{
    flex-direction: column;
  }
  .slider__images {
    max-width: 768px;
    flex-direction: column;
    height: calc(100% - 140px);
  }

  .controls {    
    margin: 5px;
    background-color: bisque;
    border-radius: 10px;
  }

  #slider__captions {
    order: 2;    
    align-self: flex-start;
  }
}

@media (max-width: 320px),
(max-hight: 568) {
  .slider__images {
    margin: 0 auto;
    max-width: 320px;
    flex-direction: column;
  }

  .controls {
    align-self: center;
  }

  #slider__captions {
    order: 2;    
  }

}